## data folders
windows/data/
windows/images/
mac/data/
mac/images/

## cache folders
windows/.ipynb_checkpoints/
windows/cache/
mac/.ipynb_checkpoints/
mac/test_project/cache/
mac/*/.ipynb_checkpoints/
mac/*/.data/


.DS_Store
